
<% provide(:title, 'Personal Background') %>
<h3 class="page_title">Personal Background</h3>

<div class="main_content">
<table table class="table table-bordered">
  
<tr><th width="120">Background</th><td>US citizen.<br/>Born in Taiwan.<br/> Attended high school in Jeddah, Saudi Arabia and boarding school in Reading, England.</td></tr>
<tr><th>Education</th><td><p><b>Harvard Business School</b><br/>
    Boston, MA.</br><b>Master of Business Administration</b></br>
  with concentrations in marketing and entrepreneurial business<br>
  Elected Treasurer, Asian Business Club</br>
  Selected admission counselor</br></p>
<p><b>Imperial College, University of London</b><br/>London, England.</br>
<b>Bachelor of Information Systems Engineering</b></br>
  Double major in Computer Science, Electrical and Electronics Engineering
</p>
</td></tr>



<tr><th>Skills</th><td>Web Development Hobbyist: Ruby, Rails, HTML, VXML, JavaScipt, AJAX, SQL, CSS, Git, etc.<br />Knowledge of User Interaction Design. <br />Currently taking Human Computer Interaction and Computer Networking courses at Stanford University.</br>Proficient with Photoshop Elements.</td></tr>
<tr><th>Languages</th><td>Fluent in English and Mandarin Chinese.<br />Working knowledge of Cantonese.<br />Basic Spanish.</td></tr>
<tr><th>Sports</th><td>Competitive whitewater kayaker.<br />Regular yoga practitioner.<br />Occasional biker, hiker, and runner.</td></tr>
<tr><th>Other Interests</th><td>Avid reader.<br />Aspiring writer and cook.</td></tr>
</table>





</div>

