
<% provide(:title, 'Contact Info') %>

<h3 class="page_title">Contact Info</h3>


<div class="main_content">

<table table class="table table-bordered">
<tr><th width="120">Email</th><td>  <a href="mailto:chungwan@yahoo.com">
  chungwan@yahoo.com</a></td></tr>
<tr><th>Phone</th><td>650.387.3524</td></tr>
<tr><th>Skype</th><td><a href="skype:kayakera?chat">kayakera</a></td></tr>
<tr><th>Website</th><td><a href="http://www.cwchen.net">www.cwchen.net</a> </td></tr>
</table>

</div>    
