<% provide(:title, 'Christine Chen - Product Development and Marketing Professional') %>

<div class="main_content">

    <div class="hero-unit">
    <h3>Product Development and Marketing Professional.</h3>
    <div  class="summary_content">
    <ul><li>Product Development and Marketing Professional with 14+ years experience in consumer eCommerce space.</li>
  <li>Proven track record in launching and marketing products with focus on customer acquisition and profitability.</li>
  <li>Seasoned expert manager of multiple concurrent projects with varying deadlines, priorities, budgets, and teams.</li>
  <li>Solid technology background with hands on web development, user interaction design, and testing experience.</li>
  <li>Highly motivated self-starter and entrepreneur (founder of a profitable custom photo sticker business).</li></ul>

      <h5>Aspiration</h5>Create disruptive technology products that not only change the way people use traditional everyday items, but are also useful, fun, and easy to use.
    
    <h5>Objective</h5>Seeks challenging product development leadership position to make significant contribution in a dynamic, fast-paced company.
    </div>
  <br />
      </div>

</div>

